<div class="container mx-auto px-4">
  <p class="alert alert-success"><%= notice %></p>

  <% content_for :title, "Posts" %>

  <h1 class="text-4xl font-bold mb-8">Posts</h1>

  <div id="posts" class="space-y-4">
    <% @posts.each do |post| %>
      <%= render post %>
      <div class="card bg-base-100 shadow-xl">
        <div class="card-body">
          <%= link_to "Show this post", post, class: "btn btn-primary" %>
        </div>
      </div>
    <% end %>
  </div>

  <%= link_to "New post", new_post_path, class: "btn btn-secondary mt-4" %>
</div>
